<div class="row bodyTask" ng-controller="managerController">
    <div class="col-md-12">
        <form>
            <input type="" name="quest" value="{{quest}}" />
            <table>
                <tbody>
                    <tr ng-repeat="tmp in default">
                        <td><label for=""> <input type="radio" name="variable" value=""/></label></td>
                        <td class="myVariable"> <input type="" name="myVariable" value="{{tmp.color}}" placeholder="{{tmp.plh}}"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>