.head {
    height: 400px;
    background-color: rgb(3, 158, 79);
    color: white;
    padding: 50px;
}

body {
    background-color: #DCDCDC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}

.tasks {
    position: absolute !important;
    top: 250px;
    background-color: white;
}

.tasks div {
    padding: 20px;
    padding-bottom: 10px;
}

.tasks div input {
    margin-bottom: 30px;
}

input[type=""] {
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: 0;
    width: 100%;
}


/*
input:hover {
    border-bottom: 3px solid rgb(3, 158, 79);
}*/

input[type=""]:focus {
    border-bottom: 3px solid rgb(3, 158, 79);
}

input[name='TestName'] {
    font-size: 17pt;
    font-weight: bold;
}

input[name="myVariable"] {
    border: 0;
    border-bottom: 1px solid lightgrey;
    outline: 0;
    width: 100%;
}

input[name="quest"] {
    font-size: 15pt;
    font-weight: normal;
}

.myVariable {
    width: 100%;
    padding-left: 20px;
}

.setter {
    position: fixed;
}

.setter button {
    background-color: white;
    padding: 10px;
    border: 0;
}