<!DOCTYPE html>
<html lang="en" ng-app="Tasks">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="app.css" rel="stylesheet">
    <script src="bower_components/angular/angular.min.js" type="text/javascript" after></script>
    <script src="default.js" type="text/javascript" after></script>
    <script src="app.js" type="text/javascript" after></script>
    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" after></script>

    <script src="taskManage/taskManage.module.js" type="text/javascript" after></script>
</head>

<body>
    <div class="po"></div>
    <div ng-controller="tasksController" class="ro"></div>
    <div class="container-fluid">
        <div class="head row">
            <div class="col-md-6 col-md-offset-5">
                <h1>Create new test</h1>
            </div>
        </div>

        <div class="tasks col-md-6 col-md-offset-3">
            <div class="row headTask">
                <div class="col-md-12">
                    <form>
                        <input type="" name="TestName" value="TestName" />
                        <input type="" name="Description" value="" placeholder="Description" />
                    </form>
                </div>

                <question-list></question-list>

            </div>

            <br>

        </div>
        <div class="setter row col-md-1 col-md-offset-9" ng-controller="tasksController">
            <button ng-click="addQuest()" class="glyphicon glyphicon-plus-sign"></button><br/>
            <p></p>
            <button ng-click="deleteQuest()" class="glyphicon glyphicon-remove-sign">
        </div>
</body>

</html>